{{define "title"}}Home{{end}} 

{{define "main"}}
    <h2 class="flex justify-between items-start">
        Latest Snippets
        {{if .Snippets}}<a href='/snippets?page=1'>View more</a>{{end}}
    </h2>
    {{template "snippets-grid" .}} 
{{end}}
