{{define "title"}}Home{{end}} 

{{define "main"}}
    <h2 class="flex justify-between items-start">
        Latest Notes
        {{if .Notes}}<a href='/notes?page=1'>View more</a>{{end}}
    </h2>
    {{template "notes-grid" .}} 
{{end}}
