{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{with  .Snippet}}
    <div class='snippet'>
        <div class='metadata'>
            <strong> 
                <abbr title="{{if .Public}}Public{{else}}Private{{end}}" class="snippet-visibility">{{if .Public}}🌐{{else}}🔒{{end}}</abbr> {{.Title}}
            </strong>   
            <span class="snippet-id" title="{{.Username}}">Created by: {{truncate .Username 25}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metadata'>
            <time>Created: {{humanDate .Created}}</time>
            <time>Expires: {{humanDate .Expires}}</time>
        </div>
    </div>
    {{end}}
    {{if .IsUserSnippet}}
    <div class="snippet-actions">
        <a class="button" href="/snippet/edit/{{.Snippet.ID}}">Edit</a>
        <button class="button dialog-open-button">Delete</button>
    </div>
    {{end}}
    {{template "dialog" .}}
{{end}}

{{define "dialog-action"}}/snippet/delete/{{.Snippet.ID}}{{end}}
{{define "dialog-title"}}Delete Snippet{{end}}
{{define "dialog-close-text"}}Cancel{{end}}
{{define "dialog-submit-text"}}Delete Snippet{{end}}
{{define "dialog-content"}}
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{.CSRFToken}}">
    <p>Are you sure you want to delete this snippet? This action cannot be undone.</p>
{{end}}
{{define "dialog-footer"}}{{end}}
