{{define "title"}}Note #{{.Note.ID}}{{end}}

{{define "main"}}
    {{with  .Note}}
    <div class='note'>
        <div class='metadata'>
            <strong> 
                <abbr title="{{if .Public}}Public{{else}}Private{{end}}" class="note-visibility">{{if .Public}}🌐{{else}}🔒{{end}}</abbr> {{.Title}}
            </strong>   
            <span class="note-id" title="{{.Username}}">Created by: <a href="/user/{{.CreatedBy}}">{{truncate .Username 25}}</a></span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metadata'>
            <time>Created: {{humanDate .Created}}</time>
            <time>Expires: {{humanDate .Expires}}</time>
        </div>
    </div>
    {{end}}
    {{if .IsUserNote}}
    <div class="note-actions">
        <a class="button" href="/note/edit/{{.Note.ID}}">Edit</a>
        <button class="button dialog-open-button">Delete</button>
    </div>
    {{end}}
    {{template "dialog" .}}
{{end}}

{{define "dialog-action"}}/note/delete/{{.Note.ID}}{{end}}
{{define "dialog-title"}}Delete Note{{end}}
{{define "dialog-close-text"}}Cancel{{end}}
{{define "dialog-submit-text"}}Delete Note{{end}}
{{define "dialog-content"}}
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{.CSRFToken}}">
    <p>Are you sure you want to delete this note? This action cannot be undone.</p>
{{end}}
{{define "dialog-footer"}}{{end}}
