{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{template "title" .}} - Noter</title>
    <!-- Link to the CSS stylesheet and favicon -->
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel="icon" type="image/png" href="/static/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Noter" />
    <link rel="manifest" href="/static/img/site.webmanifest" />
    <!-- Also link to some fonts hosted by Google -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
  </head>
  <body>
    <header>
    </header>
    {{template "nav" .}}
    <main>
      {{with .Flash}}
          <div class='flash'>{{.}}</div>
      {{end}}
      {{template "main" .}}
    </main>
    <footer>
        <span>Powered by <a href="https://golang.org/">Go</a> in {{.CurrentYear}}</span>
        <div>
          <a href='/about'>About</a>
        </div>
    </footer>
    <script src='/static/js/main.js' type='text/javascript'></script>
  </body>
</html>
{{end}}
