{{define "notes-grid"}}
    {{if .Notes}}
    <div class="notes-grid">
        {{range .Notes}}
        <a href='/note/view/{{.ID}}' class="note-card">
            <div class="note-card-content">
                <p class="note-preview">{{truncate .Content 150}}</p>
            </div>
            <div class="note-card-footer">
                <h3>
                    <abbr title="{{if .Public}}Public{{else}}Private{{end}}" class="note-visibility">{{if .Public}}🌐{{else}}🔒{{end}}</abbr> {{.Title}}
                </h3>
                <div class="flex justify-between items-center w-full">
                    <span class="note-date">{{.Created | humanDate}}</span>
                    <span title="{{.Username}}" class="note-id">{{truncate .Username 15}}</span>
                </div>
            </div>
        </a>
        {{end}}
    </div>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}